In [35]:
import pandas as pd

In [67]:
df = pd.read_excel('../datasets/SEHIR/original_dataset.xlsx')

In [59]:
df

,Kod,Tanım,Öğrenci No,Bölüm,Bölüm (tanım),Skala,Not,Kayıt drm.,Dönem
0,IE 316,Engineering Economics,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A,Başarıyla tamamlandı,2014 - Bahar
1,MGT 201,Principles of Management,713,ITM,Uluslararası Ticaret ve İşletmecilik,A+/-,A,Başarıyla tamamlandı,2013 - Güz
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A,Başarıyla tamamlandı,2012 - Bahar
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A,Başarıyla tamamlandı,2012 - Bahar
4,ENGR 244,Engineering Materials,713,IE,Endüstri Mühendisliği Lisans Programı,A+/-,A-,Başarıyla tamamlandı,2013 - Bahar
...,...,...,...,...,...,...,...,...,...
55470,ITM 406,Global Business Strategy,2315,MGT,İşletme Lisans Programı,A+/-,C,Başarıyla tamamlandı,2014 - Bahar
55471,UNI 116,Turkish for International Students II,2315,MGT,İşletme Lisans Programı,A+/-,C+,Başarıyla tamamlandı,2014 - Bahar
55472,ENGR 105,Introduction to Engineering,2315,MGT,İşletme Lisans Programı,SU,IA,Başarısız tamamlandı,2014 - Bahar
55473,CS 100,Int. to Computer Science and Eng.,2315,MGT,İşletme Lisans Programı,SU,S,Başarıyla tamamlandı,2014 - Bahar
55474,ENGR 100,Computer Skills,2315,MGT,İşletme Lisans Programı,SU,S,Başarıyla tamamlandı,2014 - Bahar

In [69]:
df.rename(columns={'Kod': 'Course Code', 
                   'Tanım': 'Course Title', 
                   'Öğrenci No': 'Student Number', 
                   'Bölüm': 'Department Code', 
                   'Bölüm (tanım)': 'Course Level', 
                   'Not': 'Letter Grade', 
                   'Kayıt drm.': 'Status', 
                   'Dönem': 'Semester'},
         inplace=True)
df.drop('Skala', axis=1, inplace=True)
df.head()

,Course Code,Course Title,Student Number,Department Code,Course Level,Letter Grade,Status,Semester
0,IE 316,Engineering Economics,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2014 - Bahar
1,MGT 201,Principles of Management,713,ITM,Uluslararası Ticaret ve İşletmecilik,A,Başarıyla tamamlandı,2013 - Güz
2,PHYS 104,Physics II-Electromagnetics & Modern phy,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2012 - Bahar
3,UNI 123,Textual Analysis and Effective Com.,713,IE,Endüstri Mühendisliği Lisans Programı,A,Başarıyla tamamlandı,2012 - Bahar
4,ENGR 244,Engineering Materials,713,IE,Endüstri Mühendisliği Lisans Programı,A-,Başarıyla tamamlandı,2013 - Bahar

### Updating Course Level
In Istanbul Sehir University, courses are numbered after their level. Therefore, we use the starting number of course code to determine their level. The following updates the course level for each course.

In [44]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    if course_code.split()[1][0] in ['1', '2', '3', '4']:
        df.iloc[row_idx, 4] = 'Undergraduate'
    elif course_code.split()[1][0] in ['5', '6']:
        df.iloc[row_idx, 4] = 'Graduate'
    else:
        df.iloc[row_idx, 4] = 'PhD'

### Updating semester names to English

In [ ]:
for row_idx in df.index:
    semester_name = df.iloc[row_idx, 7].split(' - ')
    if semester_name[1] == 'Güz':
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Fall'
    elif semester_name[1] == 'Bahar':
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Spring'
    else:
        df.iloc[row_idx, 7] = semester_name[0] + ' - ' + 'Summer'

### Updating Status

In [ ]:
for row_idx in df.index:
    if df.iloc[row_idx, 6] == 'Başarıyla tamamlandı':
        df.iloc[row_idx, 6] = 'Successful'
    elif df.iloc[row_idx, 6] == 'Başarısız tamamlandı':
        df.iloc[row_idx, 6] = 'Unsuccessful'
    else:
        df.iloc[row_idx, 6] = 'Recorded'

### Loading up-to-date course information
The most up-to-date course information has been scraped using selenium from https://www.sehir.edu.tr/en/academics/all-programs

In [8]:
course_df = pd.read_csv('../datasets/updated_course_info.csv')
course_df

,course_id,title,credit,ects,theoritical_credit,practical_credit,course_year
0,ADP 101,Touch Typing Techniques I,2,6,1,2,1
1,ADP 102,Touch Typing Techniques II,2,6,1,2,1
2,ADP 103,Fundamental Concepts Of Law,3,5,3,0,1
3,ADP 104,Office Management And Ergonomics,3,5,3,0,1
4,ADP 105,Civil Law,3,5,3,0,1
...,...,...,...,...,...,...,...
1793,YMI 315,Arayüz Tasarımı,3,6,3,0,3
1794,YMI 317,Dijital Hikaye Anlatıcılığı,3,6,3,0,3
1795,YMI 401,Mezuniyet Projesi,4,10,3,2,4
1796,YMI 402,Mezuniyet Projesi Yapımı,4,10,3,2,4
1797,YMI 404,Yeni Medya Alanında Güncel Yaklaşımlar,3,5,3,0,4

### Updating outliers information
Some courses have been changed completely in terms of their course code and course name. Course name is being when deciding to change course information (i.e. course code, course year, ...). All courses whose information have been completely changed might not be listed here.

In [9]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    if course_code == 'UNI 113':
        df.iloc[row_idx, 1] = 'Textual Analysis and Effective Communication'
    elif course_code == 'UNI 114':
        df.iloc[row_idx, 1] = 'Textual Analysis and Academic Writing'

### Adding new feature columns to the main dataframe

In [10]:
df.insert(8, 'Theoritical', 3)
df.insert(9, 'Practical', 0)
df.insert(10, 'Course Credit', 3)
df.insert(11, 'ECTS', 5)
df.insert(12, 'Course Year', 1)

### Updating old course details

In [11]:
for row_idx in df.index:
    course_code = df.iloc[row_idx, 0]
    course_title = df.iloc[row_idx, 1]
    title_indices = list(course_df.iloc[:, 1][course_df.iloc[:, 1] == course_title].index)
    code_indices = course_df.iloc[:, 0][course_df.iloc[:, 0] == course_code].index
    for i in title_indices:
        cc_1 = course_code.split()   # old course code
        cc_2 = course_df.iloc[i, 0].split()   # new course code
        if course_title == course_df.iloc[i, 1] and 'Summer' not in course_title and cc_1[0] == cc_2[0] and cc_1[1] != cc_2[1]:
            df.iloc[row_idx, 0] = course_df.iloc[i, 0]
            df.iloc[row_idx, 8] = course_df.iloc[i, 4]
            df.iloc[row_idx, 9] = course_df.iloc[i, 5]
            df.iloc[row_idx, 10] = course_df.iloc[i, 2]
            df.iloc[row_idx, 11] = course_df.iloc[i, 3]

### Updating course year based on the first integer of course code

In [12]:
for idx in df.index:
    df.iloc[idx, 12] = df.iloc[idx, 0].split()[1][0]

### Dropping instances with a grading scale other than A, B, C, D, F

In [71]:
# Grades to exclude
excluded_grades = ['IA', 'S', 'U', 'NP', 'TP']

# Mask for rows to remove
mask = df.iloc[:, 5].isin(excluded_grades)

# Count department codes in excluded rows
dept_counts = df.loc[mask, 'Department Code'].value_counts()

print(len(df[mask]), 'rows will be removed because they have unweighted grades')
print('\nDepartment distribution in excluded data:')
print(dept_counts)
print('Number of unique department codes in excluded data:',
df.loc[mask, 'Department Code'].nunique())
first = df.loc[mask, 'Department Code'].value_counts()
print(first)


# Drop rows
df = df.loc[~mask].reset_index(drop=True)

6128 rows will be removed because they have unweighted grades

Department distribution in excluded data:
Department Code
İHP         1047
IE           551
CS           430
MBA/NT       408
EE           346
MGT          334
POLS         324
CULT/T       252
ITM          211
CTV          209
PSY          195
HIST/T       188
MTS/T        185
SOC/T        146
SOC          140
KHUK/T       131
HUK          121
ISE/T        121
BGM/T        119
HIST         119
ECE/T        101
ÖHUK/T        99
POLS/T        90
ISS           67
LIT           60
POLS/NT       43
BGM/NT        28
PHIL          19
ÖHUK/NT       14
KHUK/NT       13
ECE/NT         8
ISE/NT         4
HIST PhD       4
DSE/T          1
Name: count, dtype: int64
Number of unique department codes in excluded data: 34
Department Code
İHP         1047
IE           551
CS           430
MBA/NT       408
EE           346
MGT          334
POLS         324
CULT/T       252
ITM          211
CTV          209
PSY          195
HIST/T       188
MTS/T        185
SOC/T        146
SOC          140
KHUK/T       131
HUK          121
ISE/T        121
BGM/T        119
HIST         119
ECE/T        101
ÖHUK/T        99
POLS/T        90
ISS           67
LIT           60
POLS/NT       43
BGM/NT        28
PHIL          19
ÖHUK/NT       14
KHUK/NT       13
ECE/NT         8
ISE/NT         4
HIST PhD       4
DSE/T          1
Name: count, dtype: int64

### Dropping instances from students with less than 5 courses

In [74]:
# Count courses per student
temp = (
    df.groupby('Student Number')['Letter Grade']
      .count()
      .reset_index()
      .sort_values(by='Letter Grade')
)

# Students with <5 courses
unqualified_stds = temp[temp['Letter Grade'] < 5]['Student Number']

# Mask of rows to be removed
mask = df['Student Number'].isin(unqualified_stds)

# Total rows to be removed
rows_removed = mask.sum()

# Unique departments in removed data
unique_departments = df.loc[mask, 'Department Code'].nunique()

print(rows_removed, 'rows will be removed when eliminating students with <5 courses.')
print('Number of unique departments in removed data:', unique_departments)

# If you also want department distribution:
print('\nDepartment distribution in removed data:')
print(df.loc[mask, 'Department Code'].value_counts())
second = df.loc[mask, 'Department Code'].value_counts()


# Drop rows
df = df.loc[~mask].reset_index(drop=True)

606 rows will be removed when eliminating students with <5 courses.
Number of unique departments in removed data: 34

Department distribution in removed data:
Department Code
BGM/T       112
POLS         79
IE           31
MBA/NT       29
KHUK/T       26
BGM/NT       25
ÖHUK/T       23
ECE/T        22
HIST         20
CS           17
CULT/T       17
POLS/NT      16
HUK          16
PSY          15
SOC          15
DSE/T        14
ISE/T        13
MGT          13
ISE/NT       12
ITM          12
POLS/T       10
SOC/T        10
HIST/T       10
CTV          10
ISS          10
LIT           8
MTS/T         4
EE            4
ÖHUK/NT       3
PHIL          3
ÖHUK PhD      3
ECE/NT        2
KHUK/NT       1
HIST PhD      1
Name: count, dtype: int64

In [76]:
first + second

Department Code
BGM/NT       53.0
BGM/T       231.0
CS          447.0
CTV         219.0
CULT/T      269.0
DSE/T        15.0
ECE/NT       10.0
ECE/T       123.0
EE          350.0
HIST        139.0
HIST PhD      5.0
HIST/T      198.0
HUK         137.0
IE          582.0
ISE/NT       16.0
ISE/T       134.0
ISS          77.0
ITM         223.0
KHUK/NT      14.0
KHUK/T      157.0
LIT          68.0
MBA/NT      437.0
MGT         347.0
MTS/T       189.0
PHIL         22.0
POLS        403.0
POLS/NT      59.0
POLS/T      100.0
PSY         210.0
SOC         155.0
SOC/T       156.0
ÖHUK PhD      NaN
ÖHUK/NT      17.0
ÖHUK/T      122.0
İHP           NaN
Name: count, dtype: float64

In [15]:
df.to_csv('cleaned_dataset.csv', index=False)